<nav class="bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="{{ path('admin_user_index') }}" class="nav-link link-dark px-2 active" aria-current="page">Users</a></li>
        </ul>
    </div>
</nav>