<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyResumes.online{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    {# {{ encore_entry_link_tags('app') }} #}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block topnav %}
    {% include 'layouts/nav-top-standard.html.twig' %}
{% endblock %}
{% block header %}
    {% block header %}
        {% include 'layouts/header-top-standard.html.twig' %}
    {% endblock %}
{% endblock %}
{% block body %}{% endblock %}
{# {{ encore_entry_script_tags('app') }} #}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
